# Условие 1: #

Оформляйте ноутбук, используя эти советы:

## Номер задачи - заголовок 2 ##
### Номер подзадачи - заголовок 3 ###
Предоставленные наборы данных оформляйте, как код
Рекомендации для преподавателей по оценке задания:
- Смотреть, чтобы студент красиво оформлял ноутбук
- Использовал ячейки с текстом
- Указывал номера заданий

## Задача_1 ##

### Условие: На складе лежат разные фрукты в разном количестве. 
### Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе ###

In [50]:
def summ_fruts(kwargs) -> int:
    result = 0
    for key, value in kwargs.items():
        result += value
    print(result)

In [53]:
fruts = {
    'Яблоки': 22,
    'ананас': 8,
    'дыня': 10
}
summ_fruts(fruts)

40

## Задача_3 ##


### Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. 
### Удалите такие значения из списка и посчитайте суммарные затраты
[100, 125, -90, 345, 655, -1, 0, 200] 
### Используйте list comprehensions

In [22]:
price_old=[100, 125, -90, 345, 655, -1, 0, 200]
new_price=[i if i>0 else 0 for i in price_old]
print(sum(new_price))

1425

## Задача_4 ##

### Даны два списка.

### Дата покупки

['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']

### Суммы покупок по датам

[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

### 4.1 Найдите, какая выручка у компании в ноябре 
### Используйте list comprehensions

In [25]:
dates=['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', 
       '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', 
       '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', 
       '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', 
       '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']

costs=[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 
       7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 
       316, 6333, 5700, 2887]

november_up = sum([costs for dates, costs in zip(dates, costs) if dates.startswith('2021-11')])
print(f'Выручка компании в ноябре: {november_up}')

Выручка компании в ноябре: 25098

### 4.2 Найдите выручку компании в зависимости от месяца
### Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.
### Используйте аннотирование типов.

In [41]:
from typing import List, Dict
from datetime import datetime
def sales_month(dates: List[str], costs: List[int]) -> Dict[str, int]:
    sales_month = {}
    for date, cost in zip(dates, costs):
        month = datetime.strptime(date, '%Y-%m-%d').strftime('%B')
        if month in sales_month:
            sales_month[month] += cost
        else:
            sales_month[month] = cost
    return sales_month

print(sales_month(dates, costs))

{'September': 25647, 'December': 45452, 'October': 28645, 'November': 25098}